@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Martin";
  src: url("https://dinatar.vercel.app/MARTIN.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-select-dinatar: #fff;
  --color-select-dinatar: #3d3d3d;
}

.dinatar-container-filters {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 2%;
}

.filter-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#select-dinatar {
  /* Reset #select-dinatar */
  appearance: none;
  border: 1px solid #44a5db;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: var(--color-select-dinatar);
  background-color: var(--bg-select-dinatar);
  background-image: none;
  cursor: pointer;
  font-size: 15px;
}

#select-dinatar option:checked {
  background-color: #44a5db;
}

#select-dinatar option {
  font-size: 15px;
}
/* Remove IE arrow */
#select-dinatar::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-container-dinatar {
  position: relative;
  display: flex;
  /* width: 200px; */
  height: 3em;
  border: 1px solid #44a5db;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select-container-dinatar::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: var(--bg-select-dinatar);
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select-container-dinatar:hover::after {
  color: #44a5db;
}

.select-dinatar-title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 10px;
}

#dinatar-container-profiles {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 2%;
  margin-top: 2rem;
}

.dinatar-profile {
  /* min-width: 276px; */
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  margin-bottom: 20px;
}

.dinatar-profile .profile-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dinatar-profile .profile-image img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.dinatar-profile .profile-name {
  margin-top: 10px !important;
  cursor: pointer !important;
  padding: 10px 16px !important;
}

.dinatar-profile .profile-name .name {
  font-weight: bold !important;
  font-size: 18px !important;
  font-family: "Manrope", sans-serif !important;
}

.dinatar-profile .profile-action {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  /* background-color: rgb(250, 0, 185) !important; */
}

a:not([href^="https://"])
{
  text-decoration: unset;
  color: unset;
}

.dinatar-profile .profile-action button {
  padding: 16px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: inherit;
  border: 0;
}

.dinatar-profile .profile-action span {
  font-family: "Martin" !important;
  font-weight: 500 !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
  color: #fff !important;
  font-size: 28px !important;
  line-height: 0.9 !important;
  text-align: start;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .filter-container {
    width: 48%;
  }

  .dinatar-profile {
    width: 48%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .filter-container {
    width: 31%;
  }

  .dinatar-profile {
    width: 31%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
  .filter-container {
    width: 31%;
  }

  .dinatar-profile {
    width: 31%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .filter-container {
    width: 31%;
  }

  .dinatar-profile {
    width: 31%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .filter-container {
    width: 31%;
  }

  .dinatar-profile {
    width: 31%;
  }
}

.some-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.pure {
  color: #e75480;
  text-decoration: underline;
  font-weight: 600;
}

.dinatar-button-close-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.dinatar-button-close-container .dinatar-button-close {
  background-color: #44a5db;
  /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100%;
  margin-top: 25px;
  /* position: absolute;
  margin: 0;
  top: 0;
  right: 0; */
  font-family: "Manrope";
  color: #fff !important;
  position: fixed;
  right: 8%;
  top: 0;
}

.dinatar-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  backdrop-filter: blur(10px);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

/* .dinatar-popup .dinatar-container{
      position: relative;
    } */

.dinatar-popup:target {
  opacity: 1;
  visibility: visible;
}

.dinatar__content {
  position: absolute;
  top: 2%; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 85%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(black, 0.2);
  border-radius: 10px;
  max-height: 86vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dinatar__text {
  margin: 16px 0px 0px;
  letter-spacing: 0.00938em;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dinatar__content .header {
  display: flex;
  gap: 10px;
}

.dinatar__content .header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dinatar__content .header .image img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.dinatar__content .header .info .name {
  margin: 0px;
  letter-spacing: 0em;
  font-size: 40px;
  font-weight: 400;
  color: rgb(61, 61, 61);
  font-family: Martin;
  line-height: 1;
  text-transform: uppercase;
}

.dinatar__content .header .info .work,
.city {
  margin: 4px 0px 0px;
  font-size: 18px;
  font-weight: 700;
  font-family: Manrope;
}

.dinatar__content .header .info .coavales {
  margin: 4px 0px 0px;
  font-size: 18px;
  font-weight: 400;
  font-family: Manrope;
}
